@use "sass:map";

@each $font-name, $weights in map.get($FONTFAMILIES, fonts) {
  @each $weight, $file-name in $weights {
    @font-face {
      font-family: $font-name;
      src: url("#{map.get($FONTFAMILIES, path)}#{$file-name}.ttf") format("truetype");
      font-display: swap;

      @if $weight == italic {
        font-weight: 400;
        font-style: italic;
      } @else {
        font-weight: $weight;
        font-style: normal;
      }
    }
  }
}
@font-face {
	font-family: "Prata";
	src: url('/Users/vitaliy/GitHub/arct/src/assets/fonts/Prata-Regular.ttf') format("truetype");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: "Rubik";
	src: url('/Users/vitaliy/GitHub/arct/src/assets/fonts/Rubik-Italic.ttf') format("truetype");
	font-weight: 400;
	font-display: swap;
	font-style: italic;
}
@font-face {
	font-family: "Rubik";
	src: url('/Users/vitaliy/GitHub/arct/src/assets/fonts/Rubik-Light.ttf') format("truetype");
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: "Rubik";
	src: url('/Users/vitaliy/GitHub/arct/src/assets/fonts/Rubik-Medium.ttf') format("truetype");
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: "Rubik";
	src: url('/Users/vitaliy/GitHub/arct/src/assets/fonts/Rubik-Regular.ttf') format("truetype");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}