<%
    HTMLAttributes = [
    ]
%>
<!DOCTYPE html>
    <% if(typeof head_component.lang !== 'undefined' && head_component.lang) { %>
        <html lang="<%= head_component.lang %>" <%=HTMLAttributes%>>
    <% } else { %>
        <html lang="en" <%=HTMLAttributes%>>
    <% } %>
<head>
    <%- include('src/ejs/layout/head.ejs') %>
    <script>
        (() => {
            const root = document.documentElement

            if (!root.hasAttribute('data-pre-themetoggle')) return
                
            if (localStorage.getItem('data-theme') === 'dark') {
                root.dataset.theme = 'dark'
            }

            // document.documentElement.removeAttribute('data-pre-themetoggle')
        })()
    </script>
</head>
<body>
    <%- include('externe/components/content/DummyAside/DummyAside.ejs') %>
    <div class="root">
        <%- include('src/ejs/layout/header.ejs', {
            header_component: {
                homePage: true,
                // activePage: ''
            }
        })%>
        <main class="layout layout--main">
			<%- include('src/ejs/layout/hero.ejs')%>
			<%- include('src/ejs/layout/about.ejs')%>
			<%- include('src/ejs/layout/portfolio.ejs')%>
		</main>
        <%- include('src/ejs/components/button', {
            button_component: {
                this: {
                    block: 'button button__scroll-top',
                    dataAttribute: [
                        'data-fsc-scrollto',
                        'data-fsc-scroll',
                        'data-fsc-scroll-trigger=both',
                        'data-fsc-scroll-timer',
                    ]
                },
                icon_component: {
                    name: 'slider-arrow'
                }
            }
        }) %>
        <%- include('src/ejs/layout/footer.ejs') %>
    </div>
    <script type="module" src="/src/ts/index.ts"></script>
</body>
</html>