@use 'sass:map';

.achievements {
    &__container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        @include rem(gap, 40px);
    }

    &__item {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;

        @include rem(gap, 8px);
    }

    &__counter {
        color: map.get($COLORS, gray_lite_3);
        font-family: map.get($FONTS, secondary);
        line-height: 0.8;
        letter-spacing: -2%;

        @include fluid(font-size, 120 36);
    }

    &__label {
        text-transform: uppercase;
        line-height: 1.6;
        letter-spacing: .02em;
    }
}