@use "sass:map";
@use "sass:color";

@import './default/variables';

$SETTINGS: (  
    // pixels perfect
    pixels_only: true,
    // fluid
    fluid: true,
    // Тип адаптива контейнера
    // 1 = без брейкпоинтов
    // 2 = Boostrap сетка
    responsive_type: 1,
    // Поддержка css переменных
    theme: true
);

$CONTAINER: $DEFAULT_CONTAINER;
$HEADERS_CLAMP_WIDTH: $DEFAULT_HEADERS_CLAMP_WIDTH;

$P: (
    font_size_original: 16px,
    font_size_adaptive: 14px,   
    line_height: 2.2,
    letter_spacing: 2%,
);

$BASE: (
    font_size_original: map.get($P, font_size_original),
    font_size_adaptive: map.get($P, font_size_adaptive),
    font_weight: 400,
    line_height: 1,
    font_family: ('Rubic', sans-serif),
    main_color: #5b5b5b,
    background_color: #ffffff,
    container_padding_x: (15px * 2),
    min_width: 320px,
    max_width: 1780px
);

$COLORS: (
    default: map.get($BASE, main_color),
    dark: #201f1f,
    brown: #91795c,
    gray: #818181,
    gray_lite: #cfcfcf,
    
    background: map.get($BASE, background_color),

    border_default: #b8b8b8,
);

$ANIMATIONSPEEDS: (
    max: 1s,
    long: .5s,
    base: .4s,
    short: .3s
);

$THEMEPREFIX: '--';
$THEME: (
    default: (
        primary-text-color: map.get($COLORS, default),
        secondary-text-color: map.get($COLORS, dark),
        accent-text-color: map.get($COLORS, brown),

        body-text-color: map.get($COLORS, gray),

        primary-background-color: map.get($COLORS, background),
    ),
    dark: (
        secondary-text-color: map.get($COLORS, default),
        primary-background-color: map.get($COLORS, dark),
    )
);

$BURGER: (
    color_primary: if(map.get($SETTINGS, theme), #{"var(#{$THEMEPREFIX}primary-text-color)"}, map.get($COLORS, default)),
    color_active: color-mix(in srgb, if(map.get($SETTINGS, theme), #{"var(#{$THEMEPREFIX}primary-text-color)"}, map.get($COLORS, default)), white 80%),
    origin_top: 6px,
    origin_bottom: 6px,
    width: 32px,
    height: 32px,
    line_height: 2px,
    border_radius: 4px,
    animation_speed: map.get($ANIMATIONSPEEDS, short)
);

$ZINDEXES: (
    immortal: 6,
    highest: 5,
    high: 4,
    normal: 3,
    low: 2,
    lowest: 1,
    background: -1
);

$FONTFAMILIES: (
//   path: '../../../fonts/',
//   fonts: (
//     'FontName': (
//         weight: 'FileName'
//     ),
//   )
);

$FONTS: (
    primary: map.get($BASE, font_family),
    secondary: ('Prata', 'serif')
);

// Custom
// Here

$HEADERS: (
    h1: (
        font_size_original: 90px,
        font_size_adaptive: 30px,
        line_height: 1.1,
        font_family: map.get($FONTS, secondary),
    ),
    h2: (
        font_size_original: 49px,
        font_size_adaptive: 28px,
        line_height: 1.29,
        font_family: map.get($FONTS, secondary),
        // letter_spacing: 3px,
    ),
    h3: (
        font_size_original: 32px,
        font_size_adaptive: 24px,
        // line_height: 40px,
        // font_weight: 600,
        // font_family: sans-serif,
        // font_style: regular,
        // letter_spacing: 3px,
   ),
   h4: (
        font_size_original: 24px,
        font_size_adaptive: 18px,
        // line_height: 32px,
        // font_weight: 600,
        // font_family: sans-serif,
        // font_style: regular,
        // letter_spacing: 3px,
   ),
   h5: (
        font_size_original: 20px,
        font_size_adaptive: 18px,
        // line_height: 28px,
        // font_weight: 500,
        // font_family: sans-serif,
        // font_style: regular,
        // letter_spacing: 3px,
   ),
   h6: (
        font_size_original: 16px,
        font_size_adaptive: 14px,
        // line_height: 24px,
        // font_weight: 500,
        // font_family: sans-serif,
        // font_style: regular,
        // letter_spacing: 3px,
   ),
);